.wrapper {
    width: 100%;
    
    .container {
        margin: calcFluid(15, 30) 0;
    }

    .title {
        display: flex;
        align-items: center;
        gap: calcFluid(10, 25);

        @include font-color;
        @include font-h1;
    }


    .text {
        @include theme-text-color(.5);
    }
}