version: "3.9"

services:
  app-dev:
    container_name: app-dev

    volumes:
      - ./app:/app
      - /app/node_modules

    build:
      context: ./app
      dockerfile: Dockerfile
      target: development

    ports:
      - "5173:5173"

    environment:
      NODE_ENV: development

  app-build:
    container_name: app-build

    build:
      context: ./app
      dockerfile: Dockerfile
      target: production

    ports:
      - "80:80"

    environment:
      NODE_ENV: production