version: "3.9"

networks:
  build_network:
    driver: bridge

services:

  nginx:
    image: nginx:stable-alpine

    networks:
      - build_network

    ports:
      - "80:80"
  
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
  
    depends_on:
      - "frontend"

  app-dev:
    volumes:
      - ./app:/app
      - /app/node_modules

    build:
      context: ./app
      dockerfile: Dockerfile
      target: development

    ports:
      - "5173:5173"

    environment:
      NODE_ENV: development

  frontend:
    networks:
      - build_network

    build:
      context: ./app
      dockerfile: Dockerfile
      target: production

    environment:
      NODE_ENV: production