@use "scss-reset/light";

@use './settings/variables' as *;
@use './settings/functions' as *;
@use './settings/mixins' as *;



:root {
    --theme: "light";
}



body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: calcFluid(14, 16);

    color: theme-color("text");
    background-color: theme-color("page");

    [data-theme="dark"] & {
        color: theme-color("text", "dark");
        background-color: theme-color("page", "dark");
    }
}