.wrapper {
    display: flex;
    justify-content: start;
    align-items: start;

    padding: calcFluid(0, 5);

    .image {
        aspect-ratio: 1;
        object-fit: cover;

        width: calcFluid(30, 50);
        height: calcFluid(30, 50);

        background-color: #fff;
        border-radius: $border-radius;
    }

}