.overlay {
    pointer-events: none;
    position: fixed;

    top: 0;
    left: 0;

    z-index: $z-modals;

    width: 100%;
    height: 100%;

}


.wrapper {
    pointer-events: none;
    position: absolute;

    bottom: calcFluid(15, 30);
    right: calcFluid(15, 30);

    width: calcFluid(250, 350);
    height: calcFluid(350, 550);

    @include theme-color("background-color", "element");
    border-radius: $border-radius;


    transform: translate(200%, 0);
    opacity: 0;
    box-shadow: 1px 5px 5px 8px rgba($color-black, 0);
    transition:
        transform $transition-time ease-in-out,
        opacity $transition-time ease-in-out,
        box-shadow $transition-time ease-in-out;

    &-active {
        pointer-events: all;
        transform: translate(0, 0);
        opacity: 1;
        box-shadow: 1px 5px 5px 8px rgba($color-black, .05);

    }

    // @include


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin: calcFluid(8, 10) calcFluid(8, 10);
        padding-bottom: calcFluid(8, 10);
        border-bottom: 1px solid rgba(#fff, 1);
        @include theme-color("border-color", "text", .1);

    }

    .action {
        cursor: pointer;

        padding: calcFluid(3, 5);

        border-radius: 100%;
        border-style: solid;
        border-width: 2px;

        border-color: transparent;
        transition: all $transition-time ease-in-out;

        &:active,
        &:hover {
            @include theme-color("border-color", "text", .5);
        }

    }


    .user {
        display: flex;
        align-items: start;

        gap: calcFluid(5, 7);

        &-content {
            display: flex;
            flex-direction: column;

            &__name {}

            &__subtext {
                width: fit-content;
                @include theme-color("color", "text", $text-opacity-middle);
            }
        }
    }


    .container {
        display: flex;
        flex-direction: column;

        gap: calcFluid(5, 10);

        height: 100%;

        padding: calcFluid(8, 10);
    }


    .messages {
        display: flex;
        flex-direction: column;
        gap: calcFluid(25, 30);

        &-item {
            position: relative;

            width: fit-content;

            padding: calcFluid(5, 8) calcFluid(10, 20);

            border-radius: $border-radius;

            .time {
                position: absolute;

                left: calcFluid(5, 10);
                bottom: calcFluid(-20, -25);

                width: fit-content;

                @include font-small;
                @include theme-color("color", "text", $text-opacity-light);
            }

            &--other {
                @include theme-color("background-color", "text", $text-opacity-light);
            }

            &--personal {
                $personal: &;
                margin-left: auto;
                background-color: rgba($color-primary, $text-opacity-light);

                .time {
                    left: auto;
                    right: calcFluid(5, 10);
                }
            }
        }
    }

}