.overlay {
    pointer-events: none;
    position: fixed;

    top: 0;
    left: 0;

    z-index: $z-modals;

    width: 100%;
    height: 100%;

}


.wrapper {
    pointer-events: all;
    position: absolute;

    bottom: calcFluid(15, 30);
    right: calcFluid(15, 30);

    width: 300px;
    height: 500px;

    @include theme-color("background-color", "element");
    border-radius: $border-radius;
    box-shadow: 1px 5px 5px 8px rgba($color-black, .05);
}