.overlay {
    pointer-events: none;
    position: fixed;

    top: 0;
    left: 0;

    z-index: $z-modals;

    width: 100%;
    height: 100%;

}


.wrapper {
    pointer-events: none;
    position: absolute;

    bottom: calcFluid(15, 30);
    right: calcFluid(15, 30);

    width: 300px;
    height: 500px;

    @include theme-color("background-color", "element");
    border-radius: $border-radius;


    transform: translate(100%, 0);
    opacity: 0;
    box-shadow: 1px 5px 5px 8px rgba($color-black, 0);
    transition:
        transform $transition-time ease-in-out,
        opacity $transition-time ease-in-out,
        box-shadow $transition-time ease-in-out;

    &-active {
        pointer-events: all;
        transform: translate(0, 0);
        opacity: 1;
        box-shadow: 1px 5px 5px 8px rgba($color-black, .05);

    }


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: calcFluid(5, 10) calcFluid(15, 30);
    }

    .action {
        cursor: pointer;

        padding: calcFluid(3, 5);

        border-radius: 100%;
        border-style: solid;
        border-width: 2px;

        border-color: transparent;
        transition: all $transition-time ease-in-out;

        &:active,
        &:hover {
            @include theme-color("border-color", "text", .5);
        }

    }

}