.page-container {
    max-width: calcFluid(350, 1600);

    margin: 0 auto;
}


.wrapper {
    display: flex;
    flex-direction: column;

    gap: calcFluid(10, 15);

    padding: calcFluid(15, 25) calcFluid(10, 15);


    border-radius: $border-radius;

    @include theme("element");
}